<form [formGroup]="albumForm" (ngSubmit)="onSubmit()" [class.valid-form]=" albumForm.status === 'VALID'">
  <label for="album">Album</label>
  <input id="album" type="text" [(ngModel)]="albumTyping" formControlName="album" required="required">

  <label for="password">Code d'accès</label>
  <input id="password" type="password" formControlName="password" [minlength]="7" required="required">

  <button type="submit" [disabled]="!albumForm.valid">Se connecter</button>
</form>

<p *ngIf="actualLocalStorageAlbum !== null">{{ actualLocalStorageAlbum }}</p>

<p *ngIf="albumTyping === 'maple'">{{ albumTyping }}</p>
<p *ngIf="albumTyping === 'banff'">{{ albumTyping }}</p>
<p *ngIf="albumTyping === 'francois'">
  {{ albumTyping }}
<!-- Pour francois : rounded images de photo saint des seins-->
</p>

<p>
  <!-- devenu une classe sur form-->
  Form Status: {{ albumForm.status }}
</p>
