@import "shared";

* {
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: $background;
  color: $color-white
}

ul > li {
  list-style-type: none;
}

a,
button {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

// Buttons
.anim-underlined {
  overflow: hidden;
  padding-bottom: 3px;
  box-sizing: border-box;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $color-red;
    transition: width 0s cubic-bezier(.42, .12, .31, .99);
    pointer-events: none;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $color-red;
    transition: width .4s cubic-bezier(.42, .12, .31, .99);
    pointer-events: none;
  }
  &:hover {
    outline: 0;
    &:before {
      width: 100%;
      transition: width .4s cubic-bezier(.42, .12, .31, .99);
    }
    &:after {
      width: 100%;
      background: 0 0;
      transition: all 0s cubic-bezier(.42, .12, .31, .99);
    }
  }
}

.anim-fulfill {
  span:hover {
    color: $color-red;
    transition: all .4s cubic-bezier(.42, .12, .31, .99);
  }
  &:hover {
    color: $color-red;
    transition: all .4s cubic-bezier(.42, .12, .31, .99);
    .icon-cancel {
      color: $color-red;
      transition: all .4s cubic-bezier(.42, .12, .31, .99);
    }
  }
}

// Don't know why : Ne fonctionne pas ailleurs.
.drag-scroll-content {
  overflow: hidden !important;
}

