$background: rgba(32,32,32,1);
$color-white: rgb(255,255,255);
$color-red: #e44040;

// PROPERTYS
$border-white-3: 3px solid $color-white;
$radius-5: 5px;


// FONTS
$font: 'Helvetica-Black', sans-serif;
