<div class="viewer-content" [@zoomIn] >
  <ng-content></ng-content>
  <div *ngIf="nameAppear" class="name">{{ name }}</div>
  <img id="viewed-image" src="{{ src }}">
  <div class="rotater">
    <div class="rotate-left anim-fulfill" title="Rotation 90 degrés sur la gauche" (click)="rotateLeft()"><span class="icon-rotate"></span></div>
    <div class="rotate-right anim-fulfill" title="Rotation 90 degrés sur la droite" (click)="rotateRight()"><span class="icon-rotate"></span></div>
  </div>
</div>
