@import "../../../styles/stylefullpage";

:host {
  position: absolute;
  background-color: $background;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: .5s linear;
  .viewer-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      transition: .4s all ease-in-out;
    }
    .name {
      position: absolute;
      top: 5px;
      transform: translate(-50%, -50%);
      left: 50%;
    }
    .rotater {
      position: absolute;
      bottom: 5px;
      display: flex;
      > div {
        font-size: 1.3em;
        &:hover {
          cursor: pointer;
        }
      }
      div:first-child {
        &:hover {
          transform: rotate(-30deg)
        }
      }
      div:last-child {
        margin-left: 15px;
        transform: scaleX(-1);
        &:hover {
          transform: rotate(30deg) scaleX(-1);
        }
      }
    }
  }
}

////////////////////// RESPONSIVE //////////////////////
:host {

  @include breakpoint(xxs) {
    img.landscape {
      width: auto;
      height: auto;
      max-width: 95vw;
      max-height: 95vh;
    }
    img.portrait {
      width: auto;
      height: auto;
      max-width: 95vw;
      max-height: 95vh;
    }
    .rotater {
      display: none;
    }
  }

  @include breakpoint(xs) {
    img.landscape {
      width: auto;
      height: auto;
      max-width: 95vw;
      max-height: 95vh;
    }
    img.portrait {
      width: auto;
      height: auto;
      max-width: 95vw;
      max-height: 95vh;
    }
    .rotater {
      display: none;
    }
  }

  @include breakpoint(lg) {
    img.landscape {
      width: auto;
      height: auto;
      max-width: 85vw;
      max-height: 85vh;
    }
    img.portrait {
      width: auto;
      height: auto;
      max-height: 85vh;
      //transform: rotate(90deg);
    }
    img.portrait-landscape {
      max-width: 85vh;
    }

  }
}
