@import "../../../styles/stylefullpage";

.viewport {
  width: 100vw;
  height: 100vh;
  background-color: $background;
  cursor: grab;
  overflow: hidden;
  transition: all ease .1s;

  .content {
    width: 305vw;
    height: 1200px;
    min-height: 250vh;
    max-height: fit-content;
    transition: all ease .1s;
  }

  ng-masonry-grid.grid {
    //overflow: hidden;
    max-width: unset !important; // permet d'étendre la width de la grille
  }
  ng-masonry-grid-item {
    border: 3px solid white;
    border-radius: 5px;
    img.images {

    }
    &:hover {
      transform:scale(1.03);
    transition: all ease-in .4s;
    }
  }
}


////////////////////// RESPONSIVE //////////////////////
.viewport {
  @include breakpoint(xxs) {

  }

  @include breakpoint(xs) {

    ng-masonry-grid.grid {
      margin-top: 8.5vh !important;
    }
    ng-masonry-grid-item {
      width: 200px !important;
    }

  }

  @include breakpoint(lg) {

    ng-masonry-grid.grid {
      //width: 305vw !important; // Taille calculée en fonction de la taille de l'images, ici 300px
      margin-top: 9vh !important;
    }
    ng-masonry-grid-item {
      width: 300px !important;
    }
  }

  @include breakpoint(xxl) {

    ng-masonry-grid.grid {
    }
    ng-masonry-grid-item {
      width: 400px !important;
    }
  }
}
